@import url('../common.css');
.field.has-addons {
    margin: 0;
    padding-bottom: 0; 
}

.title:not(:last-child) {
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

.input[disabled] {
    border-color: #dbdbdb;
}

.mbr-button-wrap:not(:last-child) {
    padding-bottom: 0;
}

.input.is-danger,
.textarea.is-danger {
    z-index: 10; 
}

@media screen and (max-width: 769px) {
    .mbr-button-wrap:not(:first-child) {
        padding-top: 0.5rem;
    }
}

@media screen and (min-width: 769px) {
    .modal-card {
        width: 340px;
    }
}