@import url('../common.css');
@media screen and (max-width: 769px) {
    .hidden-table-column {
        display: none;
    }
    .textarea-wrap {
        padding: 12px 0;
    }
    .column.is-12-mobile {
        padding-left: 0;
    }
}

.field.has-addons {
    margin: 0;
    padding-bottom: 0;
    padding-right: 0;
}

.column-title {
    margin-top: 12px;
}

.button-wrapper {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.textarea-border {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
}


/* 

.textarea-wrap {
    border-top-width: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
} */