{% extends "main_layout.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'common/font-awesome-4.7.0/css/font-awesome.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/light.css">
<link rel="stylesheet" href="{% static 'css/members/mbr_view.css' %}"> {% endblock %} {% block content %}
<div id="mbrCreate">
    <form action="">
        <p class="title is-5"> 회원 상세정보 </p>
        <div class="columns is-variable is-1">
            <div class="column is-3-tablet is-2-desktop field has-addons">
                <p class="control ">
                    <a class="button is-static">
                        이름
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.name" maxlength="4" placeholder="Name">
                </p>
            </div>
            <div class="column is-3-tablet is-2-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        체중
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="number" v-model="mbrData.weight" maxlength=3 placeholder="Weight">
                </p>
                <p class="control">
                    <a class="button is-static">
                        KG
                    </a>
                </p>
            </div>
            <div class="column  is-3-tablet is-2-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        신장
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="number" :value="mbrData.height" maxlength="3" placeholder="height">
                </p>
                <p class="control">
                    <a class="button is-static">
                        CM
                    </a>
                </p>
            </div>
            <div class="column is-2 field has-addons">
                <p class="control">
                    <a class="button is-static">
                        성별
                    </a>
                </p>
                <p class="select is-fullwidth">
                    <select v-model="mbrData.sex">
                        <option v-for="gen in gender" :selected="gen.value == mbrData.sex" :value=gen.value>
                            ${gen.text}
                        </option>
                    </select>
                </p>
            </div>
        </div>

        <div class="columns is-variable is-1">
            <div id="birth" class="column is-4-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        생년월일
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" readonly="readonly" v-model="mbrData.birthday" type="text" placeholder="Birthday" data-input>
                </p>
                <p class="control">
                    <a class="button" data-toggle>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </a>
                </p>
            </div>
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        활동량
                    </a>
                </p>
                <p class="select is-fullwidth">
                    <select v-model="mbrData.activility">
                        <option v-for="val in activility" :value="val.value" :selected="val.value == mbrData.activility">
                            ${val.text}
                        </option>
                    </select>
                </p>
            </div>
        </div>

        <p class="title is-6">
            <span>*</span> 측정자료
        </p>
        <div class="columns is-variable is-1">
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        RHR
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="number" v-model="mbrData.rhr" maxlength="3" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">
                        bmp
                    </a>
                </p>
            </div>
            <div class="column is-4-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        E-mhr
                    </a>
                </p>
                <p class="control  is-expanded">
                    <input class="input" type="number" v-model="mbrData.e_mhr" maxlength="3" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">
                        bmp
                    </a>
                </p>
            </div>
            <div class="column is-4-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        Vo2max
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="number" v-model="mbrData.vo2max" maxlength="3" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">
                        bmp
                    </a>
                </p>
            </div>
        </div>
        <div class="columns is-variable is-1">
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        MHR
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="number" v-model="mbrData.mhr" maxlength="3" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">
                        bmp
                    </a>
                </p>
            </div>
            <div class="column is-4-tablet is-4-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        Recovery
                    </a>
                </p>
                <p class="select is-fullwidth">
                    <select v-model="mbrData.recovery">
                        <option v-for="val in recovery" :selected="val.value == mbrData.recovery" :value="val.value">
                            ${val.text}
                        </option>
                    </select>
                </p>
            </div>
        </div>

        <p class="title is-6">
            <span>*</span> 목표설정
        </p>
        <div class="columns is-variable is-1">
            <div class="column is-4-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        Frequency
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.frequency" maxlength="2" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">
                        회(주)
                    </a>
                </p>
            </div>
            <div class="column is-5-tablet is-4-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        Intensity
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="number" v-model="mbrData.intensity_fst" maxlength="3" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">
                        ~
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="number" v-model="mbrData.intensity_lst" maxlength="3" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">
                        %
                    </a>
                </p>
            </div>
            <div class="column is-3-tablet is-2-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        Time
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="number" v-model="mbrData.target_time" maxlength="3" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">
                        분
                    </a>
                </p>
            </div>
        </div>
        <div class="columns is-variable is-1">
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        type
                    </a>
                </p>
                <p class="select is-fullwidth">
                    <select v-model="mbrData.types">
                        <option value="cardio">Cardio</option>
                    </select>
                </p>
            </div>
        </div>


        <p class="title is-6">
            <span>*</span> Warmming-up
        </p>
        <div class="columns is-variable is-1">
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        WT
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.wt_m" placeholder="00">
                </p>
                <p class="control">
                    <a class="button is-static">
                        :
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.wt_s" placeholder="00">
                </p>
            </div>
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        L1
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.l1_fst" placeholder="Normal input">
                </p>
                <p class="control">
                    <a class="button is-static">/</a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.l1_lst" placeholder="Normal input">
                </p>
            </div>
        </div>

        <p class="title is-6">
            <span>*</span> Conditioning
        </p>
        <div class="columns is-variable is-1">
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        IT
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.it_m" placeholder="00">
                </p>
                <p class="control">
                    <a class="button is-static">
                        :
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.it_s" placeholder="00">
                </p>
            </div>
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        Repeat
                    </a>
                </p>
                <p class="control  is-expanded">
                    <input class="input" type="text" v-model="mbrData.repeat" placeholder="Normal input">
                </p>
                <p class="control">
                    <a class="button is-static">회</a>
                </p>
            </div>
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        L2
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.l2_fst" placeholder="00">
                </p>
                <p class="control ">
                    <a class="button is-static">/</a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.l2_lst" placeholder="00">
                </p>
            </div>
        </div>

        <p class="title is-6">
            <span>*</span> Cool-down
        </p>
        <div class="columns is-variable is-1">
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        CT
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.ct_m" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">
                        :
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.ct_s" placeholder="0">
                </p>
            </div>
            <div class="column is-3-tablet is-3-desktop field has-addons">
                <p class="control">
                    <a class="button is-static">
                        L3
                    </a>
                </p>
                <p class="control is-expanded">
                    <input class="input" type="text" v-model="mbrData.l3_fst" placeholder="0">
                </p>
                <p class="control">
                    <a class="button is-static">/</a>
                </p>
                <p class="control is-expanded">
                    <input class="input is-fullwidth" type="text" v-model="mbrData.l3_lst" placeholder="0">
                </p>
            </div>
        </div>
        <div class="columns is-centered is-variable is-1">
            <div class="column mbr-button-wrap">
                <button class="button is-fullwidth is-danger"> 삭제 </button>
            </div>
            <div class="column mbr-button-wrap">
                <a class="button is-fullwidth is-warning" @click.prevent="onSubmit('update')"> 수정 </a>
            </div>
            <div class="column mbr-button-wrap">
                <a class="button is-fullwidth is-success" @click="goUrl('create')"> 신규등록 </a>
            </div>
        </div>
    </form>
</div>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
<script src="{% static 'js/mbr/mbrCreate.js'%}"></script>
{% endblock %}