{% extends "main_layout.html" %}
{% load static %} 

{% block style %}
<link rel="stylesheet" href="{% static 'common/font-awesome-4.7.0/css/font-awesome.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/light.css">
<link rel="stylesheet" href="{% static 'css/members/mbr_view.css' %}"> 
{% endblock %}

{% block content%}
<div id="mbrinfo">
    {% include './mbr_notic.html' %}

    <p class="title is-5"> 회원 상세정보 </p>

    {% include './mbr_form.html' %}

    <div class="columns is-centered is-variable is-1">
        <div class="column mbr-button-wrap">
            <a class="button is-fullwidth is-danger"  @click.prevent="onDelete('delete', $event)"> 삭제 </a>
        </div>
        <div class="column mbr-button-wrap">
            <a class="button is-fullwidth is-warning" @click.prevent="onSubmit('update', $event)"> 수정 </a>
        </div>
        <div class="column mbr-button-wrap">
            <a href="{% url 'mbr_list' %}" class="button is-fullwidth is-link">
                회원관리
            </a>
        </div>
    </div>
</div>
{% endblock%}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
<script src="https://unpkg.com/vee-validate@2.0.0-rc.7/dist/vee-validate.js"></script>
<script src="https://unpkg.com/vee-validate/dist/locale/ko.js"></script>
<script src="{% static 'js/mbr/mbr_view.js'%}"></script>
{% endblock %}