{% extends "main_layout.html" %} 
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'common/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker3.css' %}">
<link rel="stylesheet" href="{% static 'css/members/mbr_view.css' %}">
{% endblock %}

{% block content%}
<div>
    <h3>회원 상태 등록</h3>
</div>

<h4>
    <span>*</span> 회원정보</h4>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">이름</span>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">성별</span>
            <select class="form-control" id="gender" name="gender">
                <option value="male">남성</option>
                <option value="female">여성</option>
            </select>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">체중</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">KG</span>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">신장</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">CM</span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-6 col-sm-6">
        <div class="input-group">
            <span class="input-group-addon">생년월일</span>
            <input type="text" id="birth" class="form-control" readonly placeholder="날짜를 선택하세요" name="birth">
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">활동량</span>
            <select class="form-control" id="activity" name="activity">
                <option value="Top">Top</option>
                <option value="High">High</option>
                <option value="Middle">Middle</option>
                <option value="Low">Low</option>
            </select>
        </div>
    </div>
</div>

<h4>
    <span>*</span> 측정자료</h4>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">RHR</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">bmp</span>
        </div>
    </div>
    <div class="col-xs-6 col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">E-mhr</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">bmp</span>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">Vo2max</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">ml/kg/min</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">MHR</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">bmp</span>
        </div>
    </div>

    <div class="col-xs-6 col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">Recovery</span>
            <select class="form-control" title="Choose type" id="recovery" name="recovery">
                <option value="0">A(13이상)</option>
                <option value="1">B(8이상 12이하)</option>
                <option value="2">C(7이하)</option>
            </select>
        </div>
    </div>
</div>

<h4>
    <span>*</span> 목표설정</h4>
<div class="row">
    <div class="col-xs-7 col-sm-4">
        <div class="input-group">
            <span class="input-group-addon">Frequency</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">회(주)</span>
        </div>
    </div>
    <div class="col-xs-5 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">Time</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">분</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-5">
        <div class="input-group">
            <span class="input-group-addon">Intensity</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">~</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">%</span>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">Type</span>
            <input type="text" class="form-control" readonly="readonly" value="Cardio">
        </div>
    </div>
</div>


<h4>
    <span>*</span> Warmming-up</h4>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">WT</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">:</span>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-xs-4 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">L1</span>
            <input type="text" class="form-control">
             <span class="input-group-addon">/</span>
            <input type="text" class="form-control">
        </div>
    </div>
</div>
<h4>
    <span>*</span> Conditining</h4>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">IT</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">:</span>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">Repeat</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">회</span>
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">L2</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">/</span>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">RT</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">:</span>
            <input type="text" class="form-control">
        </div>
    </div>

</div>

<h4>
    <span>
        <span>*</span>
    </span> Cool-down</h4>
<div class="row">
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">CT</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">:</span>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-xs-6 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">L3</span>
            <input type="text" class="form-control">
            <span class="input-group-addon">/</span>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="row write-button">
    <div class="col-xs-3 col-sm-offset-4 col-sm-2">
        <a href="#" class="btn btn-block btn-danger">
            <span>삭제</span>
        </a>
    </div>
    <div class="col-xs-3 col-sm-2">
        <a href="#" class="btn btn-block btn-warning">
            <span>수정</span>
        </a>
    </div>
    <div class="col-xs-3 col-sm-2">
        <a href="#" class="btn btn-block btn-primary">
            <span>등록</span>
        </a>
    </div>
    <div class="col-xs-3 col-sm-2">
        <a href="#" class="btn btn-block btn-info">
            <span>목록</span>
        </a>
    </div>
</div>
{% endblock%} {% block script %}
<script src="{% static 'common/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.js' %}"></script>
<script>
    jQuery(() => {
        $('[name=birth]').datepicker({
            format: 'dd-mm-yyyy',
            language: 'kr',
        })
    });
</script>
{% endblock %}
