.navbar {
    padding: 0 10px;
    border-radius: 5px;
}

.field.is-grouped span:first-child {
    display: inline-block;
    line-height: 1.8rem;
}

.navbar-end span {
    display: inline-block;
    line-height: 3.5rem;
}

.logout-btn {
    margin: 8px;
}
