<nav class="navbar is-light">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <h1>
                <b>Persnal Training Tool</b>
            </h1>
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div id="navMenu" class="navbar-menu">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                회원관리
            </a>
            <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="{% url 'mbr_list' %}">
                    회원목록
                </a>
                <a class="navbar-item" href="{% url 'mbr_create' %}">
                    회원등록
                </a>
            </div>
        </div>

        <div class="navbar-end">
            <span>관리자 님</span>
            <button class="button logout-btn is-link">
                <i class="fa fa-key" aria-hidden="true"></i>  <b>LogOut</b>
            </button>
        </div>
    </div>

</nav>
