{% extends "main_layout.html" %} {% load static %} {% block style %}
<link rel="stylesheet" href="{% static 'common/font-awesome-4.7.0/css/font-awesome.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="https://npmcdn.com/flatpickr/dist/themes/light.css">
<link rel="stylesheet" href="{% static 'css/training_record/tr_base.css' %}">
<link rel="stylesheet" href="{% static 'css/training_record/tr_view.css' %}"> {% endblock %} {% block content %}
<div id="training">
    <div class="columns ">
        <div class="column is-12 is-12-mobile ">
            <p class="title is-5 is-inline-block">
                Training Record
            </p>
        </div>
    </div>

    <div class="columns">
        <div class="column is-12-mobile is-4-tablet is-3-desktop field has-addons">
            <p class="control ">
                <a class="button is-static">
                    PT Date
                </a>
            </p>
            <p class="control is-expanded">
                <input type="text" class="input" name="ptDate" placeholder="pt date">
            </p>
            <p class="control">
                <a class="button" data-toggle>
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </a>
            </p>
        </div>
        <div class="column is-12-mobile is-4-tablet is-3-desktop field has-addons">
            <p class="control ">
                <a class="button is-static"> Session </a>
            </p>
            <p class="control is-expanded">
                <input type="text" class="input" name="session_fst" placeholder="0">
            </p>
            <p class="control">
                <a class="button is-static"> / </a>
            </p>
            <p class="control is-expanded">
                <input type="text" class="input" name="session_lst" placeholder="25">
            </p>
        </div>
        <div class="column is-12-mobile is-3-tablet is-2-desktop field has-addons">
            <p class="control">
                <a class="button is-static">
                    Time
                </a>
            </p>
            <p class="control is-expanded">
                <input type="text" class="input" maxlength="2" name="intensity" placeholder="0">
            </p>
            <p class="control">
                <a class="button is-static">
                    분
                </a>
            </p>
        </div>
    </div>

    <div class="columns">
        <div class="column is-12-mobile is-4-tablet is-3-desktop field has-addons">
            <p class="control">
                <a class="button is-static">
                    Frequency
                </a>
            </p>
            <p class="control is-expanded">
                <input type="text" class="input" maxlength="1" name="frequency" placeholder="0">
            </p>
            <p class="control">
                <a class="button is-static">
                    회(주)
                </a>
            </p>
        </div>
        <div class="column is-12-mobile is-3-tablet is-3-desktop field has-addons">
            <p class="control">
                <a class="button is-static">
                    Intensity
                </a>
            </p>
            <p class="control is-expanded">
                <input type="text" class="input" maxlength="2" name="intensity" placeholder="0">
            </p>
            <p class="control">
                <a class="button is-static">
                    %
                </a>
            </p>
        </div>
        <div class="column is-12-mobile is-4-tablet is-3-desktop field has-addons">
            <p class="control">
                <a class="button is-static">
                    type
                </a>
            </p>
            <p class="select is-fullwidth">
                <select v-model="mbrData.types">
                    <option value="1">Resistance</option>
                    <option value="1">Capacity</option>
                    <option value="1">Mobility</option>
                </select>
            </p>
        </div>
    </div>

    <div class="columns ">
        <div class="column textarea-wrap is-12-desktop ">
            <button class="button is-static is-fullwidth button-wrapper">
                Comment
            </button>
            <div class="control">
                <textarea class="textarea textarea-border" type="text" placeholder="write comment"></textarea>
            </div>
        </div>
    </div>

    <div class="columns ">
        <div class="column textarea-wrap is-12-desktop">
            <button class="button is-static is-fullwidth button-wrapper">
                Trainint Menu
            </button>
            <div class="control">
                <textarea class="textarea textarea-border" rows="10" type="text" placeholder="write comment"></textarea>
            </div>
        </div>
    </div>

    <div>
        timer area
    </div>

    <div class="columns">
        <div class="column mbr-button-wrap">
            <button class="button is-fullwidth is-danger"> 삭제 </button>
        </div>
        <div class="column mbr-button-wrap">
            <button class="button is-fullwidth is-link"> 수정 </button>
        </div>
        <div class="column mbr-button-wrap">
            <button class="button is-fullwidth is-primary"> 시간 측정 </button>
        </div>
        <div class="column mbr-button-wrap">
            <button class="button is-fullwidth is-primary"> 목록 </button>
        </div>
    </div>

</div>
{% endblock %} {% block script %}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/ko.js"></script>
<script src="https://unpkg.com/vee-validate@2.0.0-rc.7/dist/vee-validate.js"></script>
<script src="https://unpkg.com/vee-validate/dist/locale/ko.js"></script> {% endblock %}