{% extends "main_layout.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/inbody/inbody.css' %}">
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-6">
        <h4> <span>김성진님</span>의 Inbody 측정데이터</h4>
    </div>
</div>

<div class="row measure-btn-wrapper">
    <div class="col-xs-12 col-xs-offset-8 col-xs-4 ">
        <a href="{% url 'inbody_measure' %}" class="btn btn-block btn-primary">
            <span>측정 데이터 보기</span>
        </a>
    </div>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr class="table-header">
                <th> 입력일 </th>
                <th> 체중 </th>
                <th> 골격근량 </th>
                <th> 체지방량 </th>
                <th> 체지방률 </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> 1 </td>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
            </tr>
            <tr>
                <td> 1 </td>
                <td> 1 </td>
                <td> 2 </td>
                <td> 3 </td>
                <td> 4 </td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-xs-3 col-xs-offset-9 col-sm-offset-10 col-sm-2">
        <a href="{% url 'inbody_create' %}" class="btn btn-primary  btn-block"> 등록 </a>
    </div>
</div>
{% endblock %}

{% block script %}
  
{% endblock %}
